<div class='container d-flex flex-column align-items-center'>
  <div class='card d-flex flex-row border-5'>
    <img src='{{imageUrl}}' alt='{{title}} movie poster' style='width: 18rem' />
    <div
      class='card-body d-flex flex-column movie-card justify-content-center align-items-center text-center'
    >
      <h2 class='card-title m-2 my-6 h1'>{{title}}</h2>
      <p class='card-text m-2 h3'><span class='detail'>Released:</span>
        {{releaseYear}}</p>
      {{#if avgRating}}
        <p class='card-text m-2 h3'><span class='detail'>Average rating:</span>
          {{avgRating}}</p>
      {{/if}}
      <p class='card-text m-2 h3'>{{reviewsCount}}
        <span class='detail'>reviews</span></p>
      <button class='btn btn-success my-4'>
        Add to watchlist
      </button>
    </div>
  </div>
  <button class='btn btn-success mt-4'>Add your review</button>
  {{#each reviews as |review|}}
    <div class='card my-4 col-12'>
      <div class='card-body'>
        <div class='d-flex justify-content-between'>
          <h4 class='card-title'>{{review.user.username}}</h4>
          <h5 class='h1'>{{review.rating}} <span>/ 5</span></h5>
        </div>
        <p class='card-text'>{{review.content}}</p>
        <small>Reviewed on {{review.createdAt}}</small>
      </div>
    </div>
  {{/each}}
</div>
