{{#each movies}}
  <div class="card">
    <img src="" alt="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text">{{genre}}</p>
      <p class="card-text">{{year}}</p>
      <p class="card-text">{{rating}}</p>
    </div>
  </div>
{{/each}}