<<<<<<< HEAD
<div>
    {{#each movieData as |movie|}}
        {{> movie-card movie = movie}}
    {{/each}}

</div>
=======
<h2>Watchlist</h2>
<div
  id='watchlist-container'
  class='container d-flex flex-wrap justify-content-center'
>
  {{#each watchlist as |movie|}}
    <div
      data-id='{{movie.id}}'
      class='card col-5 m-1 d-flex flex-column justify-content-between align-items-center movie-card'
    >
      <img
        class='card-img-top img-thumbnail'
        style='height: 420'
        src='{{movie.imageUrl}}'
        alt='{{movie.title}}'
      />
      <div class='card-body text-center'>
        <h5 class='card-title my-2'>{{movie.title}}
          <span class='text-secondary'>({{movie.releaseYear}})</span></h5>
      </div>
    </div>
  {{/each}}
</div>

<script src='/js/watchlist.js'></script>
>>>>>>> 146d7aa704a3c2f9c31d2213be2fdd5e1f3b874c
